<nav><div class="container-fluid">
		<ul class="nav navbar navbar-expand-sm">
			<li class="navbar-nav"><a class="nav-link"
				href="/">Conférence</a></li>
            <li class="navbar-nav"><a class="nav-link"
                href="#sessions-list">Sessions</a></li>
            <li class="navbar-nav"><a class="nav-link"
                href="#speakers-list">Présentateurs</a></li>
		</ul>
    </div>
</nav>
<header>Ici Bientôt un logo</header>
<section id="main-view" class="container-fluid">
    Ici le contenu principal en attente de chargement
</section>
<footer>Ici bientôt un pied de page</footer>