<nav>
    <div class="container-fluid">
		<ul class="nav navbar navbar-expand-sm">
			<li class="navbar-nav"><a class="nav-link"
				href="/">Conférence</a></li>
            <li class="navbar-nav"><a class="nav-link"
                href="#sessions-list">Sessions</a></li>
            <li class="navbar-nav"><a class="nav-link"
                href="#speakers-list">Présentateurs</a></li>
		</ul>
    </div>
</nav>
<header class="container-fluid">
    <div class="row justify-content-sm-center">
        Ici Bientôt un logo
    </div>
</header>
<section id="main-view" class="container-fluid">
    Ici le contenu principal en attente de chargement
</section>